{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Calendario</title>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css" />
        <link rel="stylesheet" media="print" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.print.css" />

        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/plugin.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">
        
        <style>
            .navbar a.navbar-brand {
                border: none;
                margin-left: 15px;
            }
        </style>
    </head>

    <body>
        {% block contenido %}{% endblock %}

        <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "js/kendo.ui.core.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/fullcalendar.min.js" %}"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/lang/es.js"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>