{% extends "base.html" %}

{% block contenido %}
<header id="header" class="navbar">
    <a href="#" class="navbar-brand">thundercracker</a>
</header>

<nav id="nav" class="nav-primary hidden-xs nav-vertical">
    <ul class="nav">
        <li class="active"><a href="#"><i class="fa fa-calendar fa-lg"></i> Calendario</a></li>
    </ul>
</nav>

<section id="content" class="content-sidebar">
    <aside class="sidebar sidebar-large bg-white">
        <div class="padder header-bar bg clearfix">
            <div class="input-group m-t m-b">
                <input type="text" class="input-sm form-control" placeholder="Buscar" id="buscar_contacto">
                <span class="input-group-btn">
                    <button class="btn btn-sm btn-white" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        
        <div id="lista-contactos" class="list-group list-normal m-t-n-xmini scroll-y scrollbar">
        </div>
    </aside>
    
    <section class="main">
        <section class="panel m-t m-l m-b m-r">
            <header class="panel-heading">Calendario</header>
            <div class="panel-body">
                <div class="calendar fc fc-ltr" id="calendario"></div>
            </div>
        </section>
    </section>
</section>

<script type="text/x-kendo-template" id="elemento-lista-contactos">
    <a href="\#" class="list-group-item">#= nombre #</a>
</script>
{% endblock %}

{% block scripts %}
<script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    
    var csrftoken = getCookie('csrftoken');
    var app = app || {};
    
    $(function() {
        // template para cada contacto
        app.contactoTemplate = kendo.template($("#elemento-lista-contactos").html());
        
        // data source para los contactos
        app.contactosDataSource = new kendo.data.DataSource({
            transport: {
                read: "/calendario/api/contactos/"
            },
            change: function() {
                $("#lista-contactos").html(kendo.render(app.contactoTemplate, this.view()));
            }
        });
        
        app.contactosDataSource.read();
        
        // modelo evento para el data source
        app.Evento = kendo.data.Model.define({
            id: "id",
            fields: {
                "title": { type: "string" },
                "start": { type: "date" },
                "end": { type: "date" }
            }
        });
        
        // data source para los eventos
        app.eventosDataSource = new kendo.data.DataSource({
            schema: { model: app.Evento },
            transport: {
                read: {
                    url: "/calendario/api/eventos/",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                },
                update: {
                    url: function(modelo) {
                        return "/calendario/api/eventos/" + modelo.id;
                    },
                    type: "PUT",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                },
                destroy: {
                    url: function(modelo) {
                        return "/calendario/api/eventos/" + modelo.id;
                    },
                    type: "DELETE",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                },
                create: {
                    url: "/calendario/api/eventos/",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                },
                parameterMap: function(model, operation) {
                    if (operation !== "read" && model) {
                        return kendo.stringify(model);
                    }
                }
            },
            change: function() {
                app.calendario.refetchEvents();
            }
        });
        
        app.eventosDataSource.read();
        
        // calendario
        $("#calendario").fullCalendar({
            header: {
                left: "prev,next today",
                center: "title",
                right: "month,agendaWeek,agendaDay"
            },
            eventLimit: true, // allow "more" link when too many events
            timezone: "local",
            lang: "es",
            selectable: true,
            select: function(start, end, jsEvent, view) {
                if (confirm("Crear evento?")) {
                    var evento = new app.Evento({
                        title: "Evento nuevo",
                        start: start,
                        end: end
                    });
                    
                    app.eventosDataSource.add(evento);
                    app.eventosDataSource.sync();
                }
            },
            events: function(start, end, timezone, callback) {
                callback(app.eventosDataSource.view());
            }
        });
        
        app.calendario = $("#calendario").data("fullCalendar");
        
        // buscar contactos
        $("#buscar_contacto").keyup(function() {
            var filtro = $("#buscar_contacto").val();
            app.contactosDataSource.filter({ field: "nombre", operator: "contains", value: filtro });
        });
    })
</script>
{% endblock %}